.accueilbloc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 2em;
    background-color: #fafafa;
}

.accueilgauche{
    max-width: 35em;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bubble1 {
    position: absolute;
    width: 40rem;
    height: 20rem;
    background-color: #E4E9FF;
    background: rgba(82, 106, 214, 0.2);
    border-radius: 50px;
    animation: moveAround1 15s infinite;
}

.bubble2 {
    position: absolute;
    width: 40rem;
    height: 20rem;
    background: rgba(255, 160, 71, 0.2);
    border-radius: 50px;
    animation: moveAround2 15s infinite;
}

@keyframes moveAround1 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(150px, -50px);
    }
    50% {
        transform: translate(300px, 0);
    }
    75% {
        transform: translate(150px, 50px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes moveAround2 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-150px, 50px);
    }
    50% {
        transform: translate(-300px, 0);
    }
    75% {
        transform: translate(-150px, -50px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@media screen and (max-width:62rem){
    .bubble1, .bubble2 {
        display: none;
    }
}