.grillage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 2px solid black;
    width: 30em;
    height: 30em;
}

.case{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    cursor: pointer;
}

.centre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.TTTtexte{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TTTbutton{
    height: 2.5rem;
    cursor: pointer;
    align-items: center;
    margin-bottom: 2em;
    width: 10rem;
    font-size: 1rem;
    background-color: #E4E9FF;
    border-color: #526ad6;
    border-radius: 40px;
}

.TTTbutton:hover{
    background-color: #6e82db;
}

@media screen and (max-width:62rem){
    .centre{
        height: auto;
    }
    .grillage{
        width: 20em;
        height: 20em;
    }

    .case{
        font-size: 4em;
    }
}