.inviteReponseBloc{
    background-color: red;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inviteReponseBloc h1{
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    max-width: 90vw;
}

.inviteReponseBloc img{
    max-width: 90vw;
}

.inviteReponseSousBloc{
    display: flex;
    flex-direction: column;
    align-items: center;
}